.App {
	text-align: center;
	height: 1080px;
}

/* Landing Page */
.landing-container {
	background-color: #000000;
	margin: 0;
	padding: 0;
}

.landing-container .landing-body {
	background: url('./utils/images/stars.png') no-repeat center center fixed;
	background-size: cover;
	height: 1080px;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.landing-body h1 {
	margin: 100px auto;
	padding: 70px 20px;
	font-family: Rowdies;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	line-height: 119px;
	color: #fe3b1f;
}

.landing-body .questions-btn {
	margin: 20px auto;
	padding: 20px 70px;
	color: white;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;

	background: #fe3b1f;
	border-radius: 50px;
}

.landing-body .applications-link {
	margin: 20px auto;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: center;
	text-decoration-line: underline;
	color: #fff;
}

/* Form Styles */
.form {
	display: flex;
	height: 100%;
}

.form .body {
	flex: 1;
	background-color: white;
	width: 960px;
}

.header h1 {
	position: absolute;
	margin: 0;

	width: 716px;
	height: 128px;
	left: 105px;
	top: 131px;

	font-family: Rowdies;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 79px;
	text-align: center;
	/* Redberry Red */
	color: #fe3b1f;
}

.footer {
	position: absolute;
	top: 1000px;
	left: 23%;
}

.personal-container {
	height: 600px;
	margin-top: 390px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: flex-start;
}

.personal-container input {
	padding-left: 53px;
	padding-right: 203px;
	padding-top: 17px;
	padding-bottom: 13px;

	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	margin: 20px auto;

	color: #454545;
	background: #ffffff;
	/* Primary Stroke */

	border: 1px solid #525557;
	box-sizing: border-box;
}

.personal-container .error-text {
	margin-left: 290px;
	color: #fe3b1f;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
}

.about {
	flex: 1;
	background-color: #000000;
	height: 100%;
}

.about-container {
	display: flex;
	flex-direction: column;

	margin: 100px 100px;
	margin-left: 150px;
}

.about-container h1 {
	font-family: Rowdies;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 79px;

	/* Redberry Red */

	color: #fe3b1f;
}
.about-container p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 200%;
	margin-top: 50px;
	width: 707px;
	height: 606px;
	/* or 48px */

	letter-spacing: 0.05em;
	color: #ffffff;
}

/* Skills PAGE */

/*DropDown Classes */
.dropdown {
	position: absolute;
	width: 457px;
	left: 200px;
	top: 366px;

	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #454545;

	border: 1px solid #525557;
	box-sizing: border-box;
	z-index: 1000;
}

.dropdown .dropdown-btn {
	height: 54px;
	padding: 2px 20px;
	padding-left: 57px;
	background: #fff;
	font-weight: bold;
	color: #333;
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: space-between;
}

.dropdown .dropdown-content {
	position: absolute;
	top: 110%;
	left: 0;
	/* padding: 10px; */
	background: #fff;
	/* box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06); */
	border: 1px solid #525557;
	box-sizing: border-box;

	font-weight: 500;
	color: #454545;
	width: 455px;
}
.dropdown .dropdown-content .dropdown-item {
	padding: 10px;
	cursor: pointer;
	transition: all 0.2s;
}
.dropdown .dropdown-content .dropdown-item:hover {
	color: #fff;
	background: #fe3b1f;
}

/* Skills Experience Input Styles */

.skills-exp-input {
	position: absolute;
	width: 455px;
	height: 54px;
	left: 201px;
	top: 451px;

	padding-left: 57px;
	padding-top: 2px;
	margin-bottom: 10px;

	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	background: #ffffff;
	/* Primary Stroke */

	border: 1px solid #525557;
	box-sizing: border-box;
}

.skills-btn {
	position: absolute;
	width: 201px;
	height: 32px;
	left: 456.1px;
	top: 534.14px;

	margin-top: 35px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	border: none;

	background: #fe3b1f;
	color: #ffffff;
}

.skills-wrapper {
	position: absolute;
	top: 615px;
	left: 203px;
	width: 455px;
	height: 250px;

	overflow-y: scroll;
	/* border: 1px solid #333; */
	transition: height 200ms;
}

.skills-container .error-text {
	position: absolute;
	width: 460px;
	height: 32px;
	left: 200px;
	top: 534.14px;

	color: #fe3b1f;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 20px;
	line-height: 13px;
	text-align: left;
}

.skill-wrapper::-webkit-scrollbar {
	display: none;
}
/* Skill styling */

.skill-container {
	width: 447px;
	height: 48px;

	margin-bottom: 17px;
	background: #ffffff;

	transition: 0.5s;
	border: 1px solid #525557;
	box-sizing: border-box;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.skill-container span {
	padding-left: 15px;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	color: #000000;
}

.skill-container input {
	padding-right: 10px;
}

/* Covid Page */

.covid-container {
	position: absolute;
	width: 645px;
	left: 166px;
	top: 250px;

	display: flex;
	flex-direction: column;
}

.covid-container .covid-question-container {
	width: 645px;
	height: 120px;
	margin-bottom: 20px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.covid-question-container span {
	display: block;
	width: 645px;
	height: 52px;

	text-align: left;
}

.covid-question-container label {
	font-size: 14px;
	line-height: 17px;
}
.covid-question-container .error-text {
	width: 460px;
	height: 32px;
	margin-top: 5px;

	color: #fe3b1f;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 13px;
	text-align: left;
}

.covid-question-container .covid-date-input-container {
	width: 455px;
	height: 50px;
	background: #ffffff;

	border: 1px solid #525557;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.covid-date-input-container .covid-input-date {
	/* width: 150px; */
	height: 24px;
	margin-top: 12px;
	margin-left: 57px;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	border: none;
	font-size: 14px;
	line-height: 17px;
}

.covid-date-input-container img {
	margin-right: 16px;
	margin-top: 12px;
	width: 16px;
	height: 18px;
}

/* Insights Page aka 'Devtalks' */

.devtalk-container {
	position: absolute;
	width: 645px;
	left: 166px;
	top: 350px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.devtalk-container .devtalk-question-container {
	width: 645px;

	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
}

.devtalk-question-container {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;

	font-size: 18px;
	line-height: 22px;
	text-align: left;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.devtalk-question-container span {
	margin-bottom: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
}
.devtalk-question-container label {
	margin-top: 12px;
	margin-bottom: 8px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}

.devtalk-question-container #devtalk-topic {
	width: 535px;
	height: 122px;
	background: #ffffff;

	border: 1px solid #525557;
	box-sizing: border-box;
}

.devtalk-question-container #devtalk-special {
	width: 535px;
	height: 89px;

	background: #ffffff;

	border: 1px solid #525557;
	box-sizing: border-box;
}
.devtalk-question-container .error-text {
	width: 460px;
	height: 32px;
	margin-top: 5px;

	color: #fe3b1f;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 13px;
	text-align: left;
}

/* Final Page */

.submit-page-container {
	width: 1920px !important;
	height: 1080px;

	background-color: black;
}

.submit-page-container .submit-btn {
	position: absolute;
	width: 395px;
	height: 79px;
	left: 758px;
	top: 458px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
	color: #fff;

	cursor: pointer;

	background: #fe3b1f;
	border-radius: 50px;
}

.submit-page-container .back-btn {
	position: absolute;
	width: 190px;
	height: 50px;
	left: 861px;
	top: 572px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 34px;

	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;

	text-decoration-line: underline;

	color: #ffffff;
}

/* Thanks Page */

.thanks-page-container {
	width: 1920px !important;
	height: 1080px;

	background-color: black;
}

.thanks-page-container p {
	position: absolute;
	width: 1066px;
	height: 191px;
	left: 427px;
	top: 444px;

	font-family: Rowdies;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	line-height: 119px;

	color: #fe3b1f;
}

/* Submitted List */

.list-page-container {
	position: absolute;
	width: 1920px !important;
	height: 100%;
	background-color: #000000;
}
.list-page-container h1 {
	position: absolute;
	width: 1128px;
	height: 100px;
	left: 359px;
	top: 94px;

	font-family: Rowdies;
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 70px;

	letter-spacing: 0.11em;

	color: #ffffff;
}
.list-container {
	position: absolute;
	width: 1154px;
	height: 600px;
	left: 343px;
	top: 249px;
}

.list-container ul {
	padding: 0;
	margin: 0;
}

.list-item {
	list-style: none;
}

.list-item-btn {
	width: 1154px;
	height: 52px;

	margin-bottom: 20px;
	cursor: pointer;
	/* Redberry Red */
	background: #fe3b1f;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.list-item-btn span {
	padding-left: 10px;
}
.list-item-btn img {
	margin-right: 20px;
}

/* List Item Content */

.list-item-content-container {
	position: absolute;
	width: 1154px;
	height: 1542px;
	left: 343px;
	top: 437px;

	background: #ffffff;
	/* Redberry Red */

	border: 1px solid #fe3b1f;
	box-sizing: border-box;

	display: flex;
}

.list-item-content-container .container-left-col {
	width: 577px;
	background-color: rgb(127, 221, 221);
}

.container-left-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-left-col .personal-info-container {
	width: 400px;
	margin-left: 50px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: left;
}
.personal-info-container h3 {
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	text-decoration-line: underline;
	color: #fe3b1f;
	text-align: left;
}

.personal-info-container .personal-info {
	margin-top: 30px;
	display: flex;
}
.personal-info .left-col {
	display: flex;
	flex-direction: column;
}
.left-col span {
	margin-bottom: 20px;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-align: left;
	color: #000000;
}

.personal-info .right-col {
	display: flex;
	flex-direction: column;
}

.personal-info .right-col span {
	margin-bottom: 20px;
	margin-left: 150px;

	text-align: left;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 15px;

	color: #454545;
}

.covid-info-container {
	width: 400px;
	margin-left: 50px;
	display: flex;
	flex-direction: column;
}
.covid-info-container h3 {
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	text-align: left;
	text-decoration-line: underline;

	color: #fe3b1f;
}
.covid-info-container .covid-sector {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	text-align: left;
}
.covid-sector h4 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	color: #000000;
}
.covid-sector span {
	margin-top: 10px;
	align-items: center;
}

.covid-sector .covid-date {
	width: 349px;
	height: 54px;

	background: #fffcfc;
	border: 1px solid #525557;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.covid-date span {
	margin-top: 0;
	margin-left: 60px;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	color: #454545;
}
.covid-date img {
	margin-right: 20px;
	width: 16px;
	height: 18px;
}

.list-item-content-container .container-right-col {
	width: 577px;
	background-color: rgb(171, 210, 245);
}

.skillset-info-container {
	width: 447px;
	margin-left: 50px;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
}

.skillset-info-container h3 {
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	text-decoration-line: underline;
	color: #fe3b1f;
	text-align: left;
}
.skillset-info {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
}

.skillset-info .skillset-item {
	width: 447px;
	height: 48px;
	display: flex;
	justify-content: flex-start;
}

.skillset-item span {
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	color: #000000;
}

.skillset-item span:nth-child(2){
	margin-left: 60px;
}
